@use "@carbon/react/scss/theme";

.wrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 100px;
}

.tile {
  margin-left: 30%;
  width: 450px;
  display: block;
  position: relative;
  z-index: 4;
  padding: 30px;
  background: #393939;
  h1 {
    margin-bottom: 30px;
  }
}

.element {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35rem;
  height: 35rem;
  .pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: 160px;
    background-size: 10rem;
    background-position: 100% 0;
    background-repeat: repeat;
  }

  .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    animation: gradientAni 0.7s cubic-bezier(0.4, 0.14, 0.3, 1) infinite;
    background: linear-gradient(210deg, #0f62fe 33%, #be95ff 100%);
  }
}

@keyframes gradientAni {
  0% {
    background-position: 0 0%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
